.footer {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    background-color: var(--background-hero-footer-color);
    padding-top: 60px;
    padding-bottom: 60px;

    .contacts {
        text-align: center;
        margin-bottom: 60px;
    }
    .logo-div {
        text-align: center;
        margin-bottom: 20px;
        transition: 250ms var(--timing-function);
    }

    .logo {
        margin-right: 0;
    }
    
    .logo--studio-white {
        color: var(--hero-text-color);
        transition: 250ms var(--timing-function);
    
        &:hover {
            color: var(--accent-color);
        }
    }
    
    .logo-footer:hover {
        color: var(--hero-text-color);
    }
    
    .logo-footer:hover .logo--studio-white {
        color: var(--accent-color);
    }
    .address {
        .item:not(:last-child) {
            margin-bottom: 8px;
        }
    }
    
    
    &__link {
        transition: 250ms var(--timing-function);
    
        &:hover,
        &:focus {
            color: var(--accent-color);
        }
        &--city {
            font-style: normal;
            color: var(--hero-text-color);
        }
        
        &--email,
        &--tel {
            font-style: normal;
            color: var(--footer-mail-tel-color);
        }
    }

    .footer-social-networks {
        margin-bottom: 60px;

        &__title {
            font-weight: 700;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            text-align: center;
            color: var(--background-color);
            margin-bottom: 20px;
        }
        .list {
            display: flex;
            justify-content: center;
        }
        
        .item+.item {
            margin-left: 10px;
        }
        
        &__link {
            width: 44px;
            height: 44px;
            display: flex;
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            transition: 250ms var(--timing-function);
        
            &:hover,
            &:focus {
                background-color: var(--accent-color);
            }
        }
        
        &__icon {
            width: 20px;
            height: 20px;
            fill: var(--background-color);
        }
    }

    .subscription {
        display: flex;
        flex-direction: column;
        &__title {
            font-weight: 700;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            text-align: center;
            color: var(--background-color);
            margin-bottom: 20px;
        }
        
        &__email {
            font-size: 16px;
            font-weight: 400;
            color: rgba(255, 255, 255, 0.6);
            width:100%;
            height: 50px;
            padding: 15px 16px;
            margin-bottom: 20px;
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 4px;
            box-sizing: border-box;
            background-color: var(--background-hero-footer-color);
        }
        
        &__button {
            display: flex;
            justify-content: center;
            border-width: 0;
            padding: 10px 28px 10px 29px;
            margin: auto;
        }
        
        &__text {
            margin-right: 10px;
        }
        
        &__icon {
            width: 24px;
            height: 24px;
            position: relative;
            top: 3px;
        }
    }
}

@media screen and (min-width: 768px) {
    .footer {
                
        .footer-tablet {
            display: flex;
            justify-content: center;
        }
        .contacts {
            margin-right: 165px;
        }
        
        .footer-social-networks {
            padding-top: 5px;
        }
        text-align: center;
        .subscription__email {
            width: 450px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .footer {
        .container {
            display: flex;
        
        }

        .logo-div {
            text-align: left;
        }
        .contacts {
            margin-right: 70px;
            margin-bottom: 0;
        }
        .address {
            text-align: left;
            .item:not(:last-child) {
                margin-bottom: 9px;
            }
        }
        .footer-social-networks {
            margin-left: 0;
            margin-bottom: 0;
            padding-top: 12px;
            margin-right: 93px;

            &__title {
                text-align: left;
            }
        }
        .subscription {
            padding-top: 12px;

            &__title {
                text-align: left;
            }
            &__email {
                width: 358px;
                margin-bottom: 0;
                margin-right: 12px;
            }
            .form {
                display: flex;
            }
        }
    }
}