button {
    color: var(--hero-text-color);
    background-color: var(--accent-color);
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: inline-block;
    letter-spacing: 0.06em;
    cursor: pointer;
    border-color: var(--accent-color);
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px var(--button-shadow-color);
    padding: 10px 32px 10px 32px;
    transition: 250ms var(--timing-function);

    &:hover,
    &:focus {
        background-color: var(--hero-buttom-hover-color);
    }
}