.overlay {
    max-width: 480px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--background-hero-color);
    background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url(../images/Hero-bg-mobile.jpg);
    background-size: 480px 400 px;
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .overlay {
        max-width: 480px;
        height: 400px;
        margin-left: auto;
        margin-right: auto;
        background-image:linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), 
            url(../images/Hero-bg-mobile@2x.jpg);
        background-size: 480px 400 px;
    }
}

@media screen and (min-width: 768px) {
    .overlay {
        max-width: 768px;
        height: 400px;
        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../images/Hero-bg-tablet.jpg);
    }
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .overlay {
            background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/Hero-bg-tablet@2x.jpg);
        }
    }
}

@media screen and (min-width: 1200px) {
    .overlay {
        max-width: 1600px;
        height: 600px;
        background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(../images/hero-bg-desktop.jpg);
    }
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .overlay {
            background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
                url(../images/hero-bg-desktop@2x.jpg);
        }
    }
}