:root {
    --primery-text-color: #212121;
    --parahraf-text-color: #757575;
    --accent-color: #2196f3;
    --hero-text-color: #ffffff;
    --background-color: #ffffff;
    --background-team-color: #f5f4fa;
    --background-hero-footer-color: #2f303a;
    --footer-mail-tel-color: rgba(255, 255, 255, 0.6);
    --hero-buttom-hover-color: #188ce8;
    --button-shadow-color: rgba(0, 0, 0, 0.25);
    --mobille-menu-btn-color: #000000;
    --heder-bottom-line: #ececec;
    --background-hero-color: #c4c4c4;
    --socialNetworks-icon-color: #afb1b8;
    --background-overlay-color: rgba(33, 150, 243, 0.9);
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}